<!-- accounts/templates/accounts/verify_otp.html -->

{% extends 'escrowtz/base.html' %}

<tittle>{% block tittle %}Verify OTP{% endblock %}</tittle>

{% block content %}

<div class='container'>
    <h2>Verify OTP: {{ otp }} </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class='form-group'>
            {{ form.otp.label_tag }}
            {{ form.otp}}
            {{ form.otp.errors }}
        <div>
        <button type="submit">Verify OTP</button>
    </form>
</div>

{% endblock %}
