<!-- escrow/templates/escrow/escrow_dashboard.html -->
 
{% extends 'escrowtz/base.html' %}

<tittle>{% block tittle %}Create Escrow{% endblock %}</tittle>

{% block content %}

<div class='container'>
    <h2>Welcome to New Escrow creatin</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class='form-group'>
        {{ form.sender.label_tag }}
        {{ form.sender }}
        {{ form.sender.errors }}
    <div>
    <div class='form-group'>
        {{ form.receiver.label_tag }}
        {{ form.receiver }}
        {{ form.receiver.errors }}
    <div>
    <div class='form-group'>
        {{ form.amount.label_tag }}
        {{ form.amount }}
        {{ form.amount.errors }}
    <div>
    <div class='form-group'>
        {{ form.description.label_tag }}
        {{ form.description }}
        {{ form.description.errors }}
    <div>
    <div class='form-group'>
        {{ form.status.label_tag }}
        {{ form.status }}
        {{ form.status.errors }}
    <div>
    <div class='form-group'>
        {{ form.created_at.label_tag }}
        {{ form.created_at }}
        {{ form.created_at.errors }}
    <div>
    <button type="submit">Create</button>
</form>
</div>

{% endblock %}